# Git Ignore
*.acn
*.acr
*.alg
*.aux
*.fdb_latexmk
*.fls
*.glg
*.idx
*.ilg
*.ind
*.log
*.lot
*.lzo
*.lzs
*.out
*.pdf
*.synctex.gz
*.toc
*.xdy
# I will add these at some point to the master branch
images/
notes/
scripts/
ibus/

# Don't ignore grammar.pdf
!grammar.pdf
